{% load article_tag %}
{% load static %}
<header class="header-area">
    <div class="top-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breaking News Area -->
                <div class="col-12 col-md-6">
                    <div class="breaking-news-area">
                        <h5 class="breaking-news-title">Breaking news</h5>
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Brexit breakthrough in Brussels comes after week of drama</a></li>
                                <li><a href="#">Brexit breakthrough in Brussels</a></li>
                                <li><a href="#">Brexit breakthrough in Brussels comes after week of drama</a></li>
                                <li><a href="#">Brex comes after week of drama</a></li>
                                <li><a href="#">Brexit breakthrough in Bweek of drama</a></li>
                                <li><a href="#">Brexit bssels comes after week of drama</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Stock News Area -->
                <div class="col-12 col-md-6">
                    <div class="stock-news-area">
                        <div id="stockNewsTicker" class="ticker">
                            <ul>
                                <li>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>eur/usd</span>
                                            <span>1.1862</span>
                                        </div>
                                        <div class="stock-index minus-index">
                                            <h4>0.18</h4>
                                        </div>
                                    </div>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>BTC/usd</span>
                                            <span>15.674.99</span>
                                        </div>
                                        <div class="stock-index plus-index">
                                            <h4>8.60</h4>
                                        </div>
                                    </div>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>ETH/usd</span>
                                            <span>674.99</span>
                                        </div>
                                        <div class="stock-index minus-index">
                                            <h4>13.60</h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>eur/usd</span>
                                            <span>1.1862</span>
                                        </div>
                                        <div class="stock-index minus-index">
                                            <h4>0.18</h4>
                                        </div>
                                    </div>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>BTC/usd</span>
                                            <span>15.674.99</span>
                                        </div>
                                        <div class="stock-index plus-index">
                                            <h4>8.60</h4>
                                        </div>
                                    </div>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>ETH/usd</span>
                                            <span>674.99</span>
                                        </div>
                                        <div class="stock-index minus-index">
                                            <h4>13.60</h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>eur/usd</span>
                                            <span>1.1862</span>
                                        </div>
                                        <div class="stock-index minus-index">
                                            <h4>3.95</h4>
                                        </div>
                                    </div>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>BTC/usd</span>
                                            <span>15.674.99</span>
                                        </div>
                                        <div class="stock-index plus-index">
                                            <h4>4.78</h4>
                                        </div>
                                    </div>
                                    <div class="single-stock-report">
                                        <div class="stock-values">
                                            <span>ETH/usd</span>
                                            <span>674.99</span>
                                        </div>
                                        <div class="stock-index minus-index">
                                            <h4>11.37</h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Middle Header Area -->
    <div class="middle-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Logo Area -->
                <div class="col-12 col-md-4">
                    <div class="logo-area">
                        <a href="{%url 'posts'%}"><img src="{%static 'img/core-img/logo.png' %}" alt="logo"></a>
                    </div>
                </div>
                <!-- Header Advert Area -->
                <div class="col-12 col-md-8">
                    <div class="header-advert-area">
                        <a href="#"><img src="{%static 'img/bg-img/top-advert.png' %}" alt="header-add"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Header Area -->
    <div class="bottom-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="main-menu">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#gazetteMenu" aria-controls="gazetteMenu" aria-expanded="false"
                                    aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu
                            </button>
                            <div class="collapse navbar-collapse" id="gazetteMenu">

                                <ul class="navbar-nav mr-auto">
                                    {% if cat_selected == 0 %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'posts' %}">Today <span class="sr-only">(current)</span></a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'posts' %}">Today <span class="sr-only">(current)</span></a>
                                    </li>
                                    {% endif %}
                                    {% for category in categories %}
                                    {% if category.pk == cat_selected %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{category.url}}">{{category.name}}</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ category.get_absolute_url }}">{{category.name}}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                    <!--                                                        <li class="nav-item dropdown">-->
                                    <!--                                                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
                                    <!--                                                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>-->
                                    <!--                                                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                                    <!--                                                                                <a class="dropdown-item" href="index.html">Home</a>-->
                                    <!--                                                                                <a class="dropdown-item" href="catagory.html">Catagory</a>-->
                                    <!--                                                                                <a class="dropdown-item" href="single-post.html">Single Post</a>-->
                                    <!--                                                                                <a class="dropdown-item" href="about.html">About Us</a>-->
                                    <!--                                                                                <a class="dropdown-item" href="contact.html">Contact</a>-->
                                    <!--                                                                            </div>-->
                                    <!--                                                                        </li>-->
                                </ul>
                                <!-- Search Form -->
                                <div class="header-search-form mr-auto">
                                    <form action="#" method="get">
                                        <input type="search" placeholder="Input your keyword then press enter..."
                                               id="search" name="q">
                                        <input class="d-none" type="submit" value="submit">
                                    </form>
                                </div>
                                <!-- Search btn -->
                                <div id="searchbtn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->